//-colours
//--primary
$UBCBlue: #002145;
$UBCGrey: #2F5D7C;
$UBCGreyAlt: #5E869F;

//--secondary
$Blue001: #0055B7;
$Blue002: #00A7E1;
$Blue003: #40B4E5;
$Blue004: #6EC4E8;
$Blue005: #97D4E9;

//--APSC brand
$DarkCoolGrey: #77787B;
$LightWarmGrey: #CFCBC2;

//--accent colours
$APSCRed: #ED1C24;
$APSCBlue: #0093D0;
$DarkText: #222222;

//--alumniUBC
$AUBCGrey: #D7E0E7;
$AUBCLightOrange: #FDB813;
$AUBCDarkOrange: #F87C00;


//--other
$White: #FFFFFF;
$Black: #000000;
$LinkColour: #0055B7;
$LinkAccentColour: #0093D0;
$MenuHoverBG: #0093D0;
$BtnBlueLight: #0093D0;
$BtnBlueDark: #0055B7;
$UnitColour: #0055B8;
$UnitAccentColour: #98D5E9;
$UnitSecondaryColour: #E1F3F9;
$bodyText: #222222;
$LightText: #696969;
$OtherGrey: #E2E2E2;