@import "mixins/accordion.scss";
@import "mixins/buttons.scss";
@import "mixins/links.scss";
@import "mixins/lists.scss";
@import "mixins/tags.scss";

//--buttons
.apsc-btn
{
	@include btn-base();
}
.apsc-btn-dark-bg
{
	@include btn-base();
}
.apsc-btn-invert
{
	@include btn-base(true);
}
.apsc-btn-dark-bg-invert
{
	@include btn-base(true,true);
}
.apsc-btn-explore
{
	@include btn-base($Colour: $White, $BgColour: transparent);
	@include element-hover($APSCBlue, $White);
	&:hover
	{
		//text-shadow:none;
	}
}
a.btn
{
	color:$White;
	text-decoration:none;
}
//--accordions - note accordions work with JS; 
.accordion, .ui-accordion
{
	.accordion-tab, .ui-accordion-header
	{
		position:relative;
		@include accordion-base();
	}
	&.alt
	{
		.accordion-tab, .ui-accordion-header
		{
			@include accordion-base($ActionBG: $BtnBlueDark);
		}
		.accordion-content
		{
			@include border(0 1px 1px 1px, solid, $BtnBlueDark);
		}
	}
	&.accordion-open
	{
		.accordion-tab
		{
			&:after
			{
				content: "-";
				line-height: 0px;
				text-indent: -6px;
			}
		}
	}
	.accordion-content
	{
		display:none;
		padding: 8px 16px;
		@include border(0 1px 1px 1px, solid, $BtnBlueLight);
	}
	.ui-accordion-header
	{
		&:after
		{
			border-width: 12px;
			border-radius: 14px;
			text-indent: -8px;
		}
	}
	.ui-accordion-header.ui-state-active
	{
		&:after
		{
			content: "\00AF";
			line-height: 16px;
			text-indent: -5px;
			text-indent: -7px;
			font-weight: 900;
		}
	}
}
//--tags
.tags
{
	margin:20px 0;
	@include tags-base();
	&.alt
	{
		@include tags-base($Colour: $BtnBlueDark);
	}
	&.reversed
	{
		@include tags-base(true, true, $White, $BtnBlueLight);
		&.alt
		{
			@include tags-base(true, true, $White, $BtnBlueDark);
		}
	}
}
//--lists
ul
{
	list-style-type: square;
	padding: 0;
	margin: 0 0 10px 25px;
	li
	{
		@include font-parameters();
	}
}
ul.checklist
{
	@include checklist-base();
	&.alt
	{
		@include checklist-base($CheckBG: $BtnBlueDark);
	}
}
ul.dashed-list
{
	list-style-type: none;
	&>li {
		text-indent: -12px;
		&:before {
			content: "- ";
		}
	}
}