@import "variables/colours.scss";

//-colours
//--text
.ubc-blue
{
	color:$UBCBlue;
}
.ubc-grey
{
	color:$UBCGrey;
}
.ubc-grey-alt
{
	color:$UBCGreyAlt;
}
.ubc-blue
{
	color:$UBCBlue;
}
.ubc-grey
{
	color:$UBCGrey;
}
.ubc-grey-alt
{
	color:$UBCGreyAlt;
}
.apsc-blue-1
{
	color:$Blue001;
}
.apsc-blue-2
{
	color:$Blue002;
}
.apsc-blue-3
{
	color:$Blue003;
}
.apsc-blue-4
{
	color:$Blue004;
}
.apsc-blue-5
{
	color:$Blue005;
}
.apsc-dark-cool-grey
{
	color:$DarkCoolGrey;
}
.apsc-light-warm-grey
{
	color:$LightWarmGrey;
}
.apsc-red
{
	color:$APSCRed;
}
.apsc-blue
{
	color:$APSCBlue;
}
.apsc-dark-text
{
	color:$DarkText;
}
.apsc-unit-color
{
	color:$UnitColour;
}
.apsc-unit-accent-color
{
	color:$UnitAccentColour;
}
.apsc-unit-secondary-color
{
	color:$UnitSecondaryColour;
}
.apsc-light-text
{
	color:$LightText;
}
.apsc-other-grey
{
	color:$OtherGrey;
}
.black
{
	color:$Black;
}
.white
{
	color:$White;
}
//--background
.bg-ubc-blue
{
	background-color:$UBCBlue;
}
.bg-ubc-grey
{
	background-color:$UBCGrey;
}
.bg-ubc-grey-alt
{
	background-color:$UBCGreyAlt;
}
.bg-ubc-blue
{
	background-color:$UBCBlue;
}
.bg-ubc-grey
{
	background-color:$UBCGrey;
}
.bg-ubc-grey-alt
{
	background-color:$UBCGreyAlt;
}
.bg-apsc-blue-1
{
	background-color:$Blue001;
}
.bg-apsc-blue-2
{
	background-color:$Blue002;
}
.bg-apsc-blue-3
{
	background-color:$Blue003;
}
.bg-apsc-blue-4
{
	background-color:$Blue004;
}
.bg-apsc-blue-5
{
	background-color:$Blue005;
}
.bg-apsc-dark-cool-grey
{
	background-color:$DarkCoolGrey;
}
.bg-apsc-light-warm-grey
{
	background-color:$LightWarmGrey;
}
.bg-apsc-red
{
	background-color:$APSCRed;
}
.bg-apsc-blue
{
	background-color:$APSCBlue;
}
.bg-apsc-dark-text
{
	background-color:$DarkText;
}
.bg-apsc-unit-color
{
	background-color:$UnitColour;
}
.bg-apsc-unit-accent-color
{
	background-color:$UnitAccentColour;
}
.bg-apsc-unit-secondary-color
{
	background-color:$UnitSecondaryColour;
}
.bg-apsc-light-text
{
	background-color:$LightText;
}
.bg-apsc-other-grey
{
	background-color:$OtherGrey;
}
.bg-black
{
	background-color:$Black;
}
.bg-white
{
	background-color:$White;
}